In [1]:
import string

In [2]:
#step 1

In [3]:
someText = open('p3.txt','r',encoding="UTF-8")

In [4]:
strs = someText.readlines()

In [5]:
nopunc = string.punctuation

In [6]:
from nltk.corpus import stopwords

In [7]:
# get rid of all len() = 3
strs2 = [i for i in strs if len(i)> 2]
# get rid of "\n"
strs3 = [i[:-2] for i in strs2]
# lowercase
strs4 = [i.lower() for i in strs3]
# split on "."
strs5 = []
for i in strs4:
    if "." not in i:
        strs5.append(i)
    else:
        for j in i.split("."):
            strs5.append(j)

# get rid of punctuation
strs6 = []
for i in strs5:
    temp= ""
    for j in i:
        if j not in nopunc:
            temp += j
            
    strs6.append(temp)

In [8]:
strs7 = []
for i in strs6:
    temp = ""
    for j in i.split():
        if j not in stopwords.words('english'):
            temp += j
            temp += " "
    strs7.append(temp)

In [9]:
sentences = strs7

In [10]:
words = []
for i in sentences:
    words += i.split()

In [11]:
import pandas as pd

In [12]:
freqDict = {}
for word in words:
    if word not in freqDict:
        freqDict[word] = 0
    else:
        freqDict[word] += 1

In [13]:
setWords = set(words)
setWordsList = list(setWords)

In [14]:
# Word Frequency DF
df = pd.DataFrame(data=[[i, freqDict[i]] for i in setWordsList ], columns=["Word","Freq"])

In [15]:
df.head()

         Word  Freq
0       total     1
1  accordance     0
2      ranked     1
3      remain     0
4     without     3

In [16]:
df.sort_values(by="Freq",ascending=False, inplace=True)

In [17]:
df

             Word  Freq
296   competition   165
172         rules    37
689       sponsor    35
17         kaggle    35
365           may    33
..            ...   ...
467       entries     0
466             9     0
199  subsidiaries     0
463          seek     0
787       visible     0

[788 rows x 2 columns]

In [18]:
df['wFreq'] = df['Freq'].apply(lambda x: x/240)

In [19]:
df.head()

            Word  Freq     wFreq
296  competition   165  0.687500
172        rules    37  0.154167
689      sponsor    35  0.145833
17        kaggle    35  0.145833
365          may    33  0.137500

In [20]:
# # # # # # # #   # # # # # # # # # # # # #  # # # # # # # # # # try this with no stopwords

## Replace Words by Weighted Frequency in Original Sentences

In [21]:
# sum of weighted frequencies
swf = []

In [22]:
swfDict = {}
wordArray = df['Word']
wFreq = df['wFreq']

In [23]:
for i in range(len(wordArray)):
    swfDict[wordArray[i]] = wFreq[i]

In [24]:
swfList = [ ]

In [25]:
for sentence in strs3:
    temp = sentence.split()
    score = 0
    for i in temp:
        if i in swfDict:
            score += swfDict[i]
    swfList.append(score)

In [26]:
# Scores Sentences DF
df2 = pd.DataFrame(data=[[strs3[i], swfList[i]] for i in range(len(swfList)) ], columns=["Sentence","Score"])

In [27]:
df2.sort_values(by="Score",ascending=False, inplace=True)

In [28]:
df2

                                             Sentence     Score
70  C. External Data. You may use data other than ...  2.712500
30  The Competition named above is a skills-based ...  1.995833
44  D. Eligibility for this competition is conting...  1.687500
7   Team mergers are allowed and can be performed ...  1.466667
87  You acknowledge and agree that Competition Spo...  1.129167
..                                                ...       ...
22                         COMPETITION SPONSOR: Kaggl  0.000000
66                                7. COMPETITION DATA  0.000000
20                          COMPETITION-SPECIFIC TERM  0.000000
18  External Data and Model Disclosure Date: May 1...  0.000000
71                    8. SUBMISSION CODE REQUIREMENTS  0.000000

[101 rows x 2 columns]

In [32]:
for i in df2['Sentence'].head(2):
    print(i)

C. External Data. You may use data other than the Competition Data (“External Data”) to develop and test your models and Submissions. However, you will (i) ensure the External Data is available to use by all participants of the competition for purposes of the competition at no cost to the other participants and (ii) post such access to the External Data for the participants to the official competition forum prior to the Entry Deadline
The Competition named above is a skills-based competition to promote and further the field of data science. You must register via the Competition Website to enter. Your competition submissions ("Submissions") must conform to the requirements stated on the Competition Website. Your Submissions will be scored based on the evaluation metric described on the Competition Website. Subject to compliance with the Competition Rules, Prizes, if any, will be awarded to participants with the best scores, based on the merits of the data science models submitted. See below for the complete Competition Rules